{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        {% if user.is_superuser %}
            <form action="process_approved_examples/" method="POST">
                {% csrf_token %}
                    <button type="submit">Process approved examples</button>
            </form>
            <!-- <form action="mortal/" method="POST">
                {% csrf_token %}
                    <button type="submit">Make Mortal</button>
            </form> -->
        {% endif %}
    </div>
    <br />
    {{ block.super }}
{% endblock %}
